.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

input[type="file"] {
    /* styles for input file */
    padding: 10px 0;
    background: #2d2d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0.1rem 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

input[type="file"]:hover {
    background: #4d4d4d;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.file-input {
    margin: 0.1rem 0;
}